<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>问卷</title>

<link rel="stylesheet" href="/framework/bs/css/bootstrap.css" type="text/css" />


<script src="/js/jquery.min.js"></script>
<script src="/framework/bs/js/bootstrap.min.js"></script>
<script src="/framework/angular/angular.min.js"></script>

<style>
	
	.container{
		/* text-align: center *//*让div内部文字居中*/
    /* background-color: red; */
    width: 1000px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
	}
</style>
</head>
<body ng-app="mainApp" ng-controller="mainController">
	<div class="container">
		<div class="panel panel-default">
  			<div class="panel-heading" style="text-align:center">
  				<span style="font-size:22px">
  					{{subject.title}}
  				</span>
  			</div>
  			<div class="panel-body" >
    			<div  style="font-size:18px;text-align:center">
    				已有{{subject.submitCount}}人提交
    			</div>
    			<br>
    			<div style="font-size:18px">
    				<ul class="list-group">
  						<li class="list-group-item"
  							ng-repeat="question in subject.questions track by $index">
  								<table >
  									<tr>
  										<th width="60%">
  										<div>
  											<div>
  												<span>{{question.content}}</span>
  											</div>
  										</div>
  										<!-- 选择题的选项 -->
  										<div class="radio"
  								 		ng-repeat="option in question.optionsArray track by $index"
  										>
  											<label>
    											<!-- <input type="radio" ng-model="question.answer" name="{{question.id}}" 
    									 			value="{{$index}}"> -->
    												{{option.title}}.
    												{{option.content}}
    												&nbsp;
    												<span style="color:blue;font-size:16px" 
    												ng-bind="getChooseCount()"></span>
  											</label>
										</div>
  										
  										<!-- 主观题的输入框 -->
  										<!--<div ng-show="{{question.kind == 'subjective'}}">
  											<br>
  											<textarea ng-model="question.answer"
												style="width: 100%" rows="3"
												placeholder="在此输入题目答案">
											</textarea>
  										</div>-->
  										</th>
  									
  									<th width="10%"></th>
 
  									<th width="30%">
  										<!-- 显示统计信息 -->
  										<div id="echart_{{question.id}}" 
  											 ng-show="{{question.kind == 'objective'}}"
  											style="width:300px;height:200px;">
  								
  										</div>
  										
  										<div id="echart_{{question.id}}" 
  											 ng-show="{{question.kind == 'subjective'}}"
  											style="width:300px;height:150px;">
  											
  											<br><br>
  											<button class="btn btn-primary" data-toggle="modal" 
  												data-target="#modal_{{question.id}}">
  												详情
  											</button>
  											
  											<!-- Modal -->
											<div class="modal fade" id="modal_{{question.id}}" tabindex="-1"
												role="dialog" aria-labelledby="myModalLabel">
												<div class="modal-dialog" role="document">
													<div class="modal-content">
														<div class="modal-header">
															<button type="button" class="close" data-dismiss="modal"
																aria-label="Close">
																<span aria-hidden="true">&times;</span>
															</button>
															<h4 class="modal-title" id="myModalLabel">
																{{question.id}}号主观题答案
															</h4>
														</div>
														<div class="modal-body">
															
																<ul class="list-group">
																	<li class="list-group-item"
																	ng-repeat="answer in question.answersContent"
																	>
																		<span 
																		style="
																		font-weight:normal;
																		font-size:16px;"
																		>{{answer}}</span>
																	</li>
																</ul>
															
														</div>
														<div class="modal-footer">
															<button type="button" class="btn btn-default"
																data-dismiss="modal">关闭</button>
														</div>
													</div>
												</div>
											</div>
											<!-- Modal  end -->
										</div>
  									</th>
  								</tr>
  							</table>
  						</li>
					</ul>
					
    			</div>
  				<br>
  			</div>
  		</div>
	</div>
</body>
<script src="framework/echarts.common.min.js"></script>
<script src="/my-js/details.angular.js"></script>
</html>