<!DOCTYPE html>
<html lang="en" class="app">
<head>  
  <meta charset="utf-8" />
  <title>问卷网站</title>
  <meta name="description" content="app, web app, responsive, admin dashboard, admin, flat, flat ui, ui kit, off screen nav" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <link rel="stylesheet" href="/js/jPlayer/jplayer.flat.css" type="text/css" />
  <link rel="stylesheet" href="/framework/bs/css/bootstrap.css" type="text/css" />
  <link rel="stylesheet" href="/css/animate.css" type="text/css" />
  <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css" />
  <link rel="stylesheet" href="/css/simple-line-icons.css" type="text/css" />
  <link rel="stylesheet" href="/css/font.css" type="text/css" />
  <link rel="stylesheet" href="/css/app.css" type="text/css" />  
    <!--[if lt IE 9]>
    <script src="js/ie/html5shiv.js"></script>
    <script src="js/ie/respond.min.js"></script>
    <script src="js/ie/excanvas.js"></script>
  <![endif]-->
  
  <style>
  	table{
  		table-layout:fixed;/* 只有定义了表格的布局算法为fixed，下面td的定义才能起作用。 */
	}
	
	td{
    	width:100%;
    	word-break:keep-all;/* 不换行 */
    	white-space:nowrap;/* 不换行 */
    	overflow:hidden;/* 内容超出宽度时隐藏超出部分的内容 */
    	text-overflow:ellipsis;/* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用。*/
	}
  </style>
  
</head>
<body class="">
  <section class="vbox">
    <header class="bg-black lter header header-md navbar navbar-fixed-top-xs">
      <div class="navbar-header aside bg-success nav-xs">
        <a class="btn btn-link visible-xs" data-toggle="class:nav-off-screen,open" data-target="#nav,html">
          <i class="icon-list"></i>
        </a>
        <a href="index.html" class="navbar-brand text-lt">
          <!-- <i class="icon-earphones"></i> -->
          <img src="images/logo.png" alt="." class="hide">
          <span class="hidden-nav-xs m-l-sm">问卷网站后台</span>
        </a>
        <a class="btn btn-link visible-xs" data-toggle="dropdown" data-target=".user">
          <i class="icon-settings"></i>
        </a>
      </div>      <ul class="nav navbar-nav hidden-xs">
        <li>
          <a href="#nav,.navbar-header" data-toggle="class:nav-xs,nav-xs" class="text-muted">
            <i class="fa fa-indent text"></i>
            <i class="fa fa-dedent text-active"></i>
          </a>
        </li>
      </ul>
      <form class="navbar-form navbar-left input-s-lg m-t m-l-n-xs hidden-xs" role="search">
        
      </form>
      <div class="navbar-right ">
       	<ui>
        </ul>
      </div>      
    </header>
    <section>
      <section class="hbox stretch">
        <!-- .aside -->
        <aside class="bg-black dk nav-xs aside hidden-print" id="nav">          
          <section class="vbox">
            <section class="w-f-md scrollable">
              <div class="slim-scroll" data-height="auto" data-disable-fade-out="true" data-distance="0" data-size="10px" data-railOpacity="0.2">
                
                <!-- nav -->                 
                <nav class="nav-primary hidden-xs">
                 <ul class="nav bg clearfix">
                 	<li>
                      <a href="/logout">
                        
                        <span class="font-bold">退出登录</span>
                      </a>
                    </li>
                    <li class="m-b hidden-nav-xs"></li>
                  </ul>
                 
                </nav>
                <!-- / nav -->
              </div>
            </section>
            
            <footer class="footer hidden-xs no-padder text-center-nav-xs">
            </footer>
          </section>
        </aside>
        <!-- /.aside -->
        <section id="content">
          <section class="vbox">
          <section class="w-f-md">
          	<aside class="col-sm-12" id="sidebar"
          	 style="padding-top:20px;padding-left:20px">
          	 <!-- 主体内容 -->
          	 <button id="add-subject" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-plus">添加</i></button>
          	 <br><br>
          	<table class="table table-striped table-bordered">
          		<tr>
          			<th width="5%">ID</th>
          			<th>标题</th>
          			<th>介绍</th>
          			<th>创建时间</th>
          			<th width="7%">状态</th>
          			<th width="7%">填写人数</th>
          			<th width="22%">操作</th>
          		</tr>
          		<tr th:each="subject : ${subjects}">
          			<td th:text="${subject.id}"></td>
          			<td th:text="${subject.title}"></td>
          			<td th:text="${subject.content}"></td>
          			<td th:text="${subject.createDate}"></td>
          			<td th:text="${subject.status == true ? '已发布' : '未发布'}"></td>
          			<td th:text="${subject.submitCount}"></td>
          			<td>
          				
          				<button class="btn btn-sm btn-primary delete-subject"
          				th:attr="subject-id=${subject.id}"
          				>删除</button>
          				<button th:attr="subject-id=${subject.id}"
          				 class="btn btn-sm btn-primary edit-subject">
          				编辑
          				</button>
          				
          				<button class="btn btn-sm btn-primary change-status"
          				th:attr="subject-id=${subject.id}"
          				th:text="${subject.status == false ? '上线 ':'下线'}"
          				></button>
          				<button 
          				th:attr="subject-id=${subject.id}"
          				class="btn btn-sm btn-primary details-subject">统计
          				</button>
          				
          				<button th:attr="subject-id=${subject.id}"
          				 class="btn btn-sm btn-primary copy-url">
          				网址
          				</button>
          			</td>
          		</tr>
          	</table>
          	<!-- 主体内容  end-->
          	</aside>
          </section>
          <!-- <footer class="footer bg-success dker">
            
          </footer> -->
        <!-- </section>
          <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen,open" data-target="#nav,html"></a>
        </section> -->
      </section>
    </section>    
  </section>
  <script src="/js/jquery.min.js"></script>
  <!-- Bootstrap -->
  <script src="/framework/bs/js/bootstrap.min.js"></script>
  <!-- App -->
  <script src="/js/app.js"></script>  
  <script src="/js/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="/js/app.plugin.js"></script>
</body>
<script>
	$(document).ready(function(){
		$("#add-subject").click(function(){
			$.ajax({
				url:"/subject/add",
				type:"POST",
				dataType:"JSON",
				async:false,
				data:{
					
				},
				success:function(data){
					if(data.resultCode == 200 || data.resultCode == null){
						alert("创建成功");
						window.location.reload();
						return false;
					}
					else{
						alert("创建失败");
						console.log("创建失败" + data.resultInfo);
					}
				},
				error:function(){
					alert("系统错误！");
				}
			})
		})
		
		$(".edit-subject").click(function(){
			var subjectId = $(this).attr("subject-id");
			window.location.href = "/editPage?subjectId=" + subjectId;
		})
		
		$(".details-subject").click(function(){
			var subjectId = $(this).attr("subject-id");
			window.location.href = "/detailsPage?subjectId=" + subjectId;
		})
		
		$(".delete-subject").click(function(){
			var tag = confirm("确定要删除吗？");
			if(tag == false){
				return false;
			}
			var subjectId = $(this).attr("subject-id");
			$.ajax({
				url:"/subject/delete/" + subjectId,
				type:"POST",
				dataType:"JSON",
				async:false,
				success:function(data){
					if(data.resultCode == 200 || data.resultCode == null){
						alert("删除成功！");
						window.location.reload();
						return false;
					}
					else{
						alert("删除失败！");
					}
				},
				error:function(){
					alert("系统错误");
				}
			})
		})
		
		$(".change-status").click(function(){
			var subjectId = $(this).attr("subject-id");
			var btnHtml = $(this).html();
			if(btnHtml == "下线"){
				remove(subjectId);
			}
			else{
				publish(subjectId);
			}
		})
		
		$(".copy-url").click(function(){
			var subjectId = $(this).attr("subject-id");
			var url = window.location.host + "/" + "subjectPage?subjectId=" + subjectId;
			alert(url);
		})
	})
	
	function remove(subjectId){
		$.ajax({
			url:"/subject/remove/" + subjectId,
			type:"POST",
			dataType:"JSON",
			async:false,
			success:function(data){
				if(data.resultCode == 200 || data.resultCode == null){
					alert("下架成功！");
					window.location.reload();
					return false;
				}
				else{
					alert("下架失败！");
				}
			},
			error:function(){
				alert("系统错误");
			}
		})
	}
	
	
	function publish(subjectId){
		$.ajax({
			url:"/subject/publish/" + subjectId,
			type:"POST",
			dataType:"JSON",
			async:false,
			success:function(data){
				if(data.resultCode == 200 || data.resultCode == null){
					alert("发布成功！");
					window.location.reload();
					return false;
				}
				else{
					alert("发布失败！");
				}
			},
			error:function(){
				alert("系统错误");
			}
		})
	}
</script>
</html>