<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>问卷</title>

<link rel="stylesheet" href="/framework/bs/css/bootstrap.css" type="text/css" />


<script src="/js/jquery.min.js"></script>
<script src="/framework/bs/js/bootstrap.min.js"></script>
<script src="/framework/angular/angular.min.js"></script>

<style>
	
	.container{
		/* text-align: center *//*让div内部文字居中*/
    /* background-color: red; */
    border-radius: 20px;
    width: 1000px;
    margin: auto;
    position: absolute;
    right:0;
    left: 0;
	}
</style>
</head>
<body ng-app="mainApp" ng-controller="mainController">
	<div class="container">
		<div class="panel panel-default">
  			<div class="panel-heading" style="text-align:center">
  				<span style="font-size:22px">
  					{{subject.title}}
  				</span>
  			</div>
  			<div class="panel-body">
    			<div style="font-size:18px">
    				{{subject.content}}
    			</div>
    			<br>
    			<div style="font-size:18px">
    				<ul class="list-group">
  						<li class="list-group-item"
  							ng-repeat="question in subject.questions">
  							<div>
  								<!-- <span class="col-sm-2">第1题</span>
  								&nbsp;&nbsp; -->
  								<span>{{question.content}}</span>
  							</div>
  							<!-- 选择题的选项 -->
  							<div>
  								<div class="radio"
  								 ng-repeat="option in question.optionsArray track by $index"
  								 >
  									<label>
    									<input type="radio" ng-model="question.answer" name="{{question.id}}" 
    									 value="{{$index}}">
    									{{option.title}}.
    									{{option.content}}
  									</label>
								</div>
  							</div>
  							<!-- 主观题的输入框 -->
  							<div ng-show="{{question.kind == 'subjective'}}">
  								<br>
  								<textarea ng-model="question.answer"
									style="width: 100%" rows="3"
									placeholder="在此输入题目答案">
								</textarea>
  							</div>
  						</li>
					</ul>
					
    			</div>
  				<br>
  				<div style="text-align:center">
  					<button ng-click="submitSubject()" 
  					ng-show="subject.status"
  					class="btn btn-lg btn-primary">
  					提交</button>&nbsp;&nbsp;&nbsp;&nbsp;
  				</div>
  			</div>
  		</div>
	</div>
</body>
<script src="/my-js/show.angular.js"></script>
</html>